@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



pages  {
  color: white;
  text-align: center;
  display: block;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  white-space: nowrap;
}

pages .container {
  white-space: nowrap;
  font-size: 0px;
}

pages page{
  display: inline-block;
  -webkit-transition: 800ms ease-out opacity;
  -moz-transition: 800ms ease-out opacity;
  -ms-transition: 800ms ease-out opacity;
  transition: 800ms ease-out opacity;

  font-size: 50px;
}

pages page.active {
  opacity: 1 !important;
}


.game-list{
  width: 800px;
  background-color: #313131;
  border-radius: 10px;
}

.carousel-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;
  background-color: #252525;
  padding: 5px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.wrapped-container {
  display: flex;
  overflow: hidden;
  width: 95%;
  justify-content: center;
}

.carousel {
  width: calc(100% - 65px);
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 1em;
  scrollbar-width: none;
  align-self: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.arrows {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  background-color: #4b4b4b;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  right: auto;
}

.carousel-wrapper .arrows.left-arrow{
  left: 10px;
}
.carousel-wrapper .arrows.right-arrow{
  right: 10px;
}

.arrows:hover:not(.arrow-inactive) {
  background-color: #4b4b4b;
  transform: translateY(-50%) scale(1.1);
}

.arrows img {
  width: 16px;
  height: 16px;
}

.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
}


.carousel-item {
  min-width: 80px;
  cursor: pointer;
  opacity: 0.9;
  font-size: 14px;
}
.carousel-item.active,.carousel-item:hover {
  font-weight: bold;
  opacity: 1;
}
.carousel-item span {
  margin: 5px 0;
}


.carousel-wrapper.scrollbar-overflow ::-webkit-scrollbar {
  height: 6px;
}

.carousel-wrapper ::-webkit-scrollbar {
  height: 0px;
}

.carousel-wrapper ::-webkit-scrollbar-track {
  background: #c0b6af;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb {
  background: #5e4c5a;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #2d242b;
}

.games{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px 5px;
  height: 300px;
  gap: 3px;
}

.game a{
  transform: scale(0);
  opacity: 0;
  animation: slide-in 0.5s forwards;
  text-align: center;
  border-radius: 5px;
  transition: margin 0.1s;
  border: 2px solid #fff5;
  overflow: hidden;
  padding: 15px;
  display: block;
}

.game a img {
  filter: blur(20px);
  animation: blurimg 1s forwards 0.5s;
}


.game:hover{
  margin: 2px;
}


.pagination {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  height: 40px;
}

.pagination a {
  color: #fff;
  padding: 8px 14px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  cursor: pointer;
}
.pagination a.inactive{
  background: rgba(255, 255, 255, 0);
  cursor: initial;
}

.pagination a.active {
  background: rgba(255, 255, 255, 0.5);
}

.pagination a:hover:not(.active):not(.inactive) {background: rgba(255, 255, 255, 0.6);}


@media (pointer: coarse) {
  .carousel {
    overflow-x: auto;
    scrollbar-width: thin;
  }
  .carousel-wrapper ::-webkit-scrollbar {
    height: 6px;
  }
}

@keyframes blurimg {
  100% { filter: blur(0); }
}

@keyframes slide-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}